# Carpeta/archivos a excluir de la build de Docker
.git
.gitignore
Dockerfile
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.env.*
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.dist/
build/
.eggs/
*.egg-info/
**/__pycache__
